<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="7zip" />
	<package id="brave" />
	<package id="calibre" />
	<package id="firefox" />
	<package id="firacode" />
	<package id="git" />
	<package id="internet-download-manager" />
	<package id="joplin" />
	<package id="keepassxc" />
	<package id="microsoft-windows-terminal" />
	<package id="miniconda3" />
	<package id="motrix" />
	<package id="nvidia-display-driver" />
	<package id="paint.net" />
	<package id="steam-client" />
	<package id="sublimetext4" />
	<package id="taskbarx" />
	<package id="telegram" />
	<package id="termius" />
	<package id="t-clock" />
	<package id="ueli" />
	<package id="vscode" />

	<!-- ? WITH SPECIFIC VERSION(s) -->
	<package id="cuda" version="11.2.2.46133" />
	<package id="potplayer" version="1.7.18958" />

	<!-- ? VSCODE EXTENSTIONS -->
	<package id="vscode-python" />
	<package id="vscode-pylance" />
	<package id="vscode-intellicode" />
	<package id="vscode-jupyter" />
	<package id="vscode-beautify" />
	<package id="onedarkpro-vscode" />
	<package id="vscode-vsliveshare" />
</packages>