<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="vscode-python" />
    <package id="vscode-pylance" />
    <package id="vscode-intellicode" />
    <package id="vscode-jupyter" />
    <package id="vscode-beautify" />
    <package id="onedarkpro-vscode" />
    <package id="vscode-vsliveshare" />
</packages>